spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/account-view
    username: postgres
    password: Salam
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: account-listing-service
      enable-auto-commit: false
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.example.accounts.dto.TransferCompletedEvent

  cache:
    type: redis
    redis:
      time-to-live: 30s

  logging:
    level:
      org.springframework.cache: TRACE